USE [master]
GO
/****** Object:  Database [ExamenIPrograIII]    Script Date: 7/3/2018 11:18:18 PM ******/
CREATE DATABASE [ExamenIPrograIII]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamenIPrograIII', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\ExamenIPrograIII.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamenIPrograIII_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\ExamenIPrograIII_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamenIPrograIII].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamenIPrograIII]
GO
USE [ExamenIPrograIII]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 7/3/2018 11:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[codPerfil] [int] NOT NULL,
	[nombrePerfil] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[codPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroPersonal]    Script Date: 7/3/2018 11:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroPersonal](
	[codEntrada] [int] IDENTITY(1,1) NOT NULL,
	[nombreEmpleado] [nvarchar](50) NOT NULL,
	[identificacion] [int] NOT NULL,
	[posicion] [nvarchar](50) NOT NULL,
	[area] [nvarchar](50) NOT NULL,
	[fechaEntrada] [nvarchar](50) NULL,
	[horaEntrada] [nvarchar](50) NULL,
	[fechaSalida] [nvarchar](50) NULL,
	[horaSalida] [nvarchar](50) NULL,
 CONSTRAINT [PK_RegistroPersonal_1] PRIMARY KEY CLUSTERED 
(
	[codEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroPersonas]    Script Date: 7/3/2018 11:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroPersonas](
	[identificacion] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[correo] [nvarchar](50) NOT NULL,
	[tetefono] [int] NOT NULL,
	[pais] [nvarchar](50) NOT NULL,
	[ciudad] [nvarchar](50) NOT NULL,
	[detalles] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RegistroPersonas] PRIMARY KEY CLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/3/2018 11:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[nombreUsuario] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[nombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosxPerfiles]    Script Date: 7/3/2018 11:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosxPerfiles](
	[nombreUsuario] [nvarchar](50) NOT NULL,
	[codPerfil] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosxPerfiles] PRIMARY KEY CLUSTERED 
(
	[nombreUsuario] ASC,
	[codPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RegistroPersonal] ON 

INSERT [dbo].[RegistroPersonal] ([codEntrada], [nombreEmpleado], [identificacion], [posicion], [area], [fechaEntrada], [horaEntrada], [fechaSalida], [horaSalida]) VALUES (14, N'Marcela Lopez', 789456563, N'rrhh', N'rrhh', N'', N'', N'', N'')
INSERT [dbo].[RegistroPersonal] ([codEntrada], [nombreEmpleado], [identificacion], [posicion], [area], [fechaEntrada], [horaEntrada], [fechaSalida], [horaSalida]) VALUES (15, N'Luis Flores', 741258966, N'rrhh', N'rrhh', N'', N'', N'', N'')
INSERT [dbo].[RegistroPersonal] ([codEntrada], [nombreEmpleado], [identificacion], [posicion], [area], [fechaEntrada], [horaEntrada], [fechaSalida], [horaSalida]) VALUES (16, N'Marco Obando', 963221155, N'rrhh', N'rrhh', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[RegistroPersonal] OFF
INSERT [dbo].[RegistroPersonas] ([identificacion], [nombre], [apellido], [edad], [correo], [tetefono], [pais], [ciudad], [detalles]) VALUES (56565, N'Sofia', N'Montes', 52, N'sofia@gmail.com', 85236987, N'Venezuela', N'Venezuela', N'ni idea')
INSERT [dbo].[RegistroPersonas] ([identificacion], [nombre], [apellido], [edad], [correo], [tetefono], [pais], [ciudad], [detalles]) VALUES (23652145, N'Martha', N'Dias', 32, N'martha@yahoo.es', 741258963, N'España', N'Madrid', N'Frente a la plaza de toros de Madrid')
INSERT [dbo].[RegistroPersonas] ([identificacion], [nombre], [apellido], [edad], [correo], [tetefono], [pais], [ciudad], [detalles]) VALUES (45698723, N'Pedro', N'Sanchez', 45, N'hdjsh@dfsjlksdfj.com', 74125896, N'Salvador', N'Salvador', N'Los Santos')
INSERT [dbo].[Usuarios] ([nombreUsuario], [pass], [activo]) VALUES (N'goku', N'1234', 1)
INSERT [dbo].[Usuarios] ([nombreUsuario], [pass], [activo]) VALUES (N'judas', N'1234', 1)
ALTER TABLE [dbo].[Perfiles]  WITH CHECK ADD  CONSTRAINT [FK_Perfiles_Perfiles1] FOREIGN KEY([codPerfil])
REFERENCES [dbo].[Perfiles] ([codPerfil])
GO
ALTER TABLE [dbo].[Perfiles] CHECK CONSTRAINT [FK_Perfiles_Perfiles1]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Usuarios] FOREIGN KEY([nombreUsuario])
REFERENCES [dbo].[Usuarios] ([nombreUsuario])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Usuarios]
GO
ALTER TABLE [dbo].[UsuariosxPerfiles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosxPerfiles_Perfiles] FOREIGN KEY([codPerfil])
REFERENCES [dbo].[Perfiles] ([codPerfil])
GO
ALTER TABLE [dbo].[UsuariosxPerfiles] CHECK CONSTRAINT [FK_UsuariosxPerfiles_Perfiles]
GO
ALTER TABLE [dbo].[UsuariosxPerfiles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosxPerfiles_Usuarios] FOREIGN KEY([nombreUsuario])
REFERENCES [dbo].[Usuarios] ([nombreUsuario])
GO
ALTER TABLE [dbo].[UsuariosxPerfiles] CHECK CONSTRAINT [FK_UsuariosxPerfiles_Usuarios]
GO
USE [master]
GO
